<?xml version="1.0"?>
<beans xmlns="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xmlns:cxf="http://cxf.apache.org/core" 
	xmlns:jaxws="http://cxf.apache.org/jaxws" 
	xsi:schemaLocation="http://cxf.apache.org/core 
		http://cxf.apache.org/schemas/core.xsd 
		http://www.springframework.org/schema/beans 
		http://www.springframework.org/schema/beans/spring-beans.xsd 
		http://cxf.apache.org/jaxws http://cxf.apache.org/schemas/jaxws.xsd">
	
    <import resource="classpath:META-INF/cxf/cxf.xml"/>
    <import resource="classpath:META-INF/cxf/cxf-servlet.xml"/>
	
	<!-- 第二种发布方式：带有接口的发布方式 -->
	<!-- id:唯一标示 address:请求url serviceClass:接口类型 -->
	<jaxws:server id="userServiceWs" address="/userService" serviceClass="com.lxs.security.service.IUserServiceWs">
		<jaxws:serviceBean>
			<!-- 提供服务的类 -->
			<bean class="com.lxs.security.service.impl.UserServiceImpl"></bean>
		</jaxws:serviceBean>
		<!-- 加入消息拦截器 -->
		<jaxws:inInterceptors>
			<bean class="org.apache.cxf.interceptor.LoggingInInterceptor"></bean>
		</jaxws:inInterceptors>
		<jaxws:outInterceptors>
			<bean class="org.apache.cxf.interceptor.LoggingOutInterceptor"></bean>
		</jaxws:outInterceptors>
	</jaxws:server>
	
	<jaxws:server id="tourServiceWs" address="/tourService" serviceClass="com.lxs.oa.tour.service.ITourServiceWs">
		<jaxws:serviceBean>
			<bean class="com.lxs.oa.tour.service.impl.TourServiceImpl"></bean>
		</jaxws:serviceBean>
		<jaxws:inInterceptors>
			<bean class="org.apache.cxf.interceptor.LoggingInInterceptor"></bean>
		</jaxws:inInterceptors>
		<jaxws:outInterceptors>
			<bean class="org.apache.cxf.interceptor.LoggingOutInterceptor"></bean>
		</jaxws:outInterceptors>
	</jaxws:server>
	
	
		
</beans>
